<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Songr</title>
</head>
<body>
<link rel="stylesheet" href="/css/songr.css">
<h1>Hello World </h1>
<img src="https://images.unsplash.com/photo-1511671782779-c97d3d27a1d4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fG11c2ljJTIwYXBwfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60" alt="Microphone Picture">
</body>
</html>